<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=localhost; Database=FitnessApp; Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation targetFramework="4.7.2" />
		<authentication mode="None" />
	</system.web>
</configuration>
